<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <!-- Email -->
    <a href="mailto:reinamontage@gmail.com" target="_blank" class="mx-3" aria-label="Email" title="Email">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;">
            <path d="M2 4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4zm2 0v16h16V4H4zm8 9L4 6h16l-8 7z"></path>
        </svg>
    </a>

    <!-- Instagram -->
    <a href="https://www.instagram.com/reina_montage/" target="_blank" class="mx-3" aria-label="Instagram" title="Instagram">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;">
            <path d="M12 2.163c3.204 0 3.584.012 4.849.07 1.366.062 2.633.33 3.608 1.304.974.974 1.242 2.241 1.304 3.608.058 1.265.07 1.645.07 4.849s-.012 3.584-.07 4.849c-.062 1.366-.33 2.633-1.304 3.608-.974.974-2.241 1.242-3.608 1.304-1.265.058-1.645.07-4.849.07s-3.584-.012-4.849-.07c-1.366-.062-2.633-.33-3.608-1.304-.974-.974-1.242-2.241-1.304-3.608C2.175 15.747 2.163 15.367 2.163 12s.012-3.584.07-4.849c.062-1.366.33-2.633 1.304-3.608.974-.974 2.241-1.242 3.608-1.304C8.416 2.175 8.796 2.163 12 2.163zm0-2.163C8.741 0 8.332.012 7.052.07 5.77.128 4.583.38 3.555 1.408 2.528 2.435 2.276 3.622 2.218 4.904.012 8.332 0 8.741 0 12c0 3.259.012 3.668.07 4.948.058 1.282.31 2.469 1.338 3.496 1.027 1.027 2.214 1.28 3.496 1.338C8.332 23.988 8.741 24 12 24s3.668-.012 4.948-.07c1.282-.058 2.469-.31 3.496-1.338 1.027-1.027 1.28-2.214 1.338-3.496.058-1.28.07-1.689.07-4.948s-.012-3.668-.07-4.948c-.058-1.282-.31-2.469-1.338-3.496-1.027-1.027-2.214-1.28-3.496-1.338C15.668.012 15.259 0 12 0zm0 5.838a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 0 0 0-12.324zm0 10.162a3.999 3.999 0 1 1 0-7.998 3.999 3.999 0 0 1 0 7.998zm6.40
